body{
    text-align: center;
    font-family: sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color:#EEEEEE;
    background-color: #1A1A40;
}
.top-container
{
    padding: 100px;
}
h1{
    font-family: 'Comforter', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #7A0BC0;
    font-weight: normal;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #14FFEC;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #14FFEC;
}
hr
{
    border: dotted #EAF6F6 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto 100px auto;
}
.bottom-cloud
{
    position: absolute;
    left: 400px;
    bottom: 400px;

}
.top-cloud
{
    position:absolute;
    right:300px;
    top:50px;
}
.profile{
    padding-top: 50px;
}
.profile-pic
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.tskill-img
{
    width: 25%;
    height:25%;
    float: left;
    margin-right: 30px;
}
.softskill-img
{
    width: 25%;
    height:25%;
    float: right;
    margin-left: 30px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}
.contact-me
{
    padding: 50px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container
{
    background-color: #66BFBF;
    padding: 50px;
}
a
{
    color: #11999E;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover
{
    color:#270082
}
.footer-p
{
    color:#EAF6F6;
    padding: 20px 0;
    font-size: 0.75rem;
}
.form
{
    padding-bottom: 50px;
}
.submitt {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #000000;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .submitt:hover {
    background: #9AD0EC;
    background-image: -webkit-linear-gradient(top, #9AD0EC, #1572A1);
    background-image: -moz-linear-gradient(top, #9AD0EC, #1572A1);
    background-image: -ms-linear-gradient(top, #9AD0EC, #1572A1);
    background-image: -o-linear-gradient(top, #9AD0EC, #1572A1);
    background-image: linear-gradient(to bottom, #9AD0EC, #1572A1);
    text-decoration: none;
  }